<div class="container">
  <div class="well">
    <h4>Quizzes assigned to me:</h4>
    <% @my_quizzes.each do |quiz| %>
	    <% if quiz.assignments.where(user_id: session[:user_id]).first.score == nil and quiz.assignments.where(user_id: session[:user_id]).first.is_assigned == true %>
	    	<a href="/quiz/<%= quiz.id %>"><%= quiz.name %></a>
	    <% end %>
	<% end %>
  </div>
  <div class="well">
    <h4>Quizzes I have competed:</h4>
    <% @my_quizzes.each do |quiz| %>
	    <% if quiz.assignments.where(user_id: session[:user_id]).first.score != nil %>
	    	<a href="/myquizzes/<%= quiz.id %>"><%= quiz.name %></a> - My Score: <b><%= quiz.assignments.where(user_id: session[:user_id]).first.score %>%</b><br>
	    <% end %>
	<% end %>
  </div>
</div>