<div class="container">
      <br>
      <%== form_tag "/quiz/#{@quiz.id}" do %>
      <% @questions.find(:all, :order => :id, :limit => 5).each do |question| %>
        <div class="well">
          <h4><%= question.question_text %></h4>
          <% if question.type.name == "True/False" %>
            <%== radio_button_tag "question#{question.id}", "True" %>True<br>
            <%== radio_button_tag "question#{question.id}", "False" %>False<br>
          <% else %>
            <% if question.choice1 != nil and question.choice1 != "" %>
              <%== radio_button_tag "question#{question.id}", "question.choice1" %><%= question.choice1 %><br>
            <% end %>
            <% if question.choice2 != nil and question.choice2 != "" %>
              <%== radio_button_tag "question#{question.id}", "question.choice2" %><%= question.choice2 %><br>
            <% end %>
            <% if question.choice3 != nil and question.choice3 != "" %>
              <%== radio_button_tag "question#{question.id}", "question.choice3" %><%= question.choice3 %><br>
            <% end %>
            <% if question.choice4 != nil and question.choice4 != "" %>
              <%== radio_button_tag "question#{question.id}", "question.choice4" %><%= question.choice4 %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= submit_tag "Next" %>
    <% end %>  <!-- This is for the form tag. -->