<div class="hero-unit">
	<p><h2>Registration</h2></p>
	<%== form_tag "/register" do %>
	<p>First Name:<br><%== text_field_tag :first_name, "", size: 40 %></p>
	<p>Last Name:<br><%== text_field_tag :last_name, "", size: 40 %></p>
  <p>Email Address:<br><%== text_field_tag :email, "", size: 40 %></p>
  <p>Password:<br><%== password_field_tag(:password) %></p>
  <p>Password Confirmation:<br><%== password_field_tag(:password_confirmation) %></p>
  <p><b>After you complete registration, you will be redirected to the login page.</b></p>
  <p><%== submit_tag "Register", :class => "btn btn-primary" %></p>
  <% end %>
</div>