<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Category Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%== text_field_tag :name, @name, size: 40 %></td>
      </tr>
  </table>
  <% if params[:id] != "new" %>
    <%== submit_tag "Update Category" %>  <%== submit_tag "Delete Category" %>
  <% else %>
    <%== submit_tag "Add Category" %>
  <% end %>
</tbody>
</div>
<div class="well">
  <table class="table table-striped table-hover table-bordered table-fixed">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><a href="/admin/categories/<%= category.id %>">Edit</a></td>
      <td><%= category.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>