<div class="well">
   <%== form_tag "/admin/quiz-builder/#{@edit_quiz_setup_id}" do %>
  <table class="table">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>Category and Qty</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td><%== text_field_tag :quiz_name, @edit_quiz_setup_name, size: 40 %></td>
        <td>
          <% Category.all.each do |category| %>
          <%== select_tag "category#{category.id}", options_from_collection_for_select(Category.order(:name).all, :name, :name), prompt: "Choose a category..." %> <%== text_field_tag "qty#{category.id}", "", size: 5 %><br>
        <% end %>
        </td>
        <td>  
          <% User.order(:last_name).all.each do |user| %>
            <%== check_box_tag "user.id", "on" %> <%= user.first_name %> <%= user.last_name %><br>
          <% end %>
        </td>
      </tr>
  </table>
  <% if params[:id] != "new" %>
    <%== submit_tag "Update quiz" %> <%== submit_tag "Delete quiz" %>
  <% else %>    
    <%== submit_tag "Add quiz" %>
  <% end %>
  <% end %> <!-- This end is for the form tag. -->
</div>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Quiz Name</th>
        <th>Categories and qtys</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
      <% @quiz_setups.each do |quizsetup| %>
       <tr>
        <td><a class=btn href="/admin/quiz-builder/<%= quizsetup.id %>">Edit</a></td>
        <td><%= quizsetup.name %></td>
        <td></td>
        <td><% quizsetup.users.all.each do |user| %>
        <%= user.first_name %> <%= user.last_name %><br>
        <% end %>
        </td>
      </tr>
      <% end %>
  </table>
</div>