<div class="well">
   <%== form_tag "/admin/quiz-builder/#{@edit_quiz_setup_id}" do %>
  <table class="table">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>Category and Qty</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td><%== text_field_tag :quiz_name, @edit_quiz_setup_name, size: 40 %></td>
        <td>
          <% Category.all.each do |category| %>
          <% @category_name = @categories_hash.keys.select { |key, value| key.to_s.match(category.name)} %>
          <% @category_name_string = @category_name.join("") %>
          <% if @categories_hash.has_key?(@category_name_string) %>
            <% @category_qty = @categories_hash.fetch(@category_name_string) %>
          <% else %>
            <% @category_qty = 0 %>
          <% end %>
          <%== select_tag "category#{category.id}", options_from_collection_for_select(Category.order(:name).all, :name, :name, @category_name), prompt: "Choose a category..." %> <%== text_field_tag "qty#{category.id}", @category_qty, size: 5 %><br>
        <% end %>
        </td>
        <td>  
          <% User.order(:last_name).all.each do |user| %>
            <% if @users_array.include? user.id %>
              <%== check_box_tag "user#{user.id}", "on", true %> <%= user.first_name %> <%= user.last_name %><br>
            <% else %>
              <%== check_box_tag "user#{user.id}", "on" %> <%= user.first_name %> <%= user.last_name %><br>
            <% end %>
          <% end %>
        </td>
      </tr>
  </table>
  <% if params[:id] != "new" %>
    <%== submit_tag "Update quiz" %> <%== submit_tag "Delete quiz" %>
  <% else %>    
    <%== submit_tag "Add quiz" %>
  <% end %>
  <% end %> <!-- This end is for the form tag. -->
</div>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Quiz Name</th>
        <th>Categories and qtys</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
      <% QuizSetup.all.each do |quizsetup| %>
       <tr>
        <td><a class=btn href="/admin/quiz-builder/<%= quizsetup.id %>">Edit</a></td>
        <td><%= quizsetup.name %></td>
          <% @categories_array = [] %>
          <% quizsetup.questions.each do |question| %>
            <% @categories_array << question.category.name %>
          <% end %>
          <% @categories_hash = @categories_array.inject(Hash.new(0)) { |total, e| total[e] += 1 ;total} %>
          <td>
          <% @categories_hash.each do |key, value| %>
            <%= "#{key.to_s} #{value.to_s}" %><br>
          <% end %>
          </td>
        <td>
          <% quizsetup.assignments.where(is_assigned: true).all.each do |user| %>
            <%= User.find(user.user_id).first_name %> <%= User.find(user.user_id).last_name %>, 
          <% end %>
        </td>
      </tr>
      <% end %>
  </table>
</div>