<div class="well">
  <H3><%= @user.first_name %>'s results for quiz titled "<%= @quizzes.where(id: params[:quiz_id]).first.name %>"</H3>
  <table class="table table-striped table-hover table-bordered table-fixed">
  <thead>
    <tr>
      <th>Question</th>
      <th>User Answer</th>
      <th>Was Correct?</th>
      <th>Correct Answer</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.where(id: params[:quiz_id]).first.questions.each do |question| %>
    <tr>
        <td><%= question.question_text %></td>
      <td><%= @quiz_results.where(question_id: question.id).first.user_answer %></td>
      <% if @quiz_results.where(question_id: question.id).first.is_correct == true %>
        <td style="background-color:green; color:white;">Yes</td>
      <% else %>
        <td style="background-color:red; color:white;">No</td>
      <% end %>
      <% if @quiz_results.where(question_id: question.id).first.is_correct == false %>
        <td><%= question.correct_answer %></td>
      <% else %>
        <td>----------</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<a class='btn' href="/admin/quizzes/<%= params[:quiz_id] %>">Go back to quiz results</a>
<a class='btn' href="/admin/users/<%= @user.id %>">Go back to user list</a>
</div>