<html>
  
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% if @title == "Register" %>
      <title>Register New User</title>
    <% elsif @title == "Login" %>
      <title>Login</title>
    <% else %>
      <title>Quiz App - <%= @title %></title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <script>
      document.domain = 'divshot.com';
    </script>
  </head>
  
  <body>
    <% if @title == "Register" %>
      <title>Register New User</title>
    <% elsif @title == "Login" %>
      <title>Login</title>
    <% else %>
      <title>Quiz App - <%= @title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Quiz App - <%= @title %></a>
            <div class="navbar-content">
              <ul class="nav  pull-right">
                <li class="active">
                  <a href="#">Home</a> 
                </li>
                <li>
                  <a href="/helppage">Help</a> 
                </li>
                <li>
                  <a href="/logout">Logout</a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="well">
        <div class="alert-error">
          <%= flash[:error] %>
        </div>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="well">
        <div class="alert-success">
          <%= flash[:success] %>
        </div>
      </div>
    <% end %>
<%== yield %>
  </body>

</html>
